html {
  overflow: auto;
  height: 100%;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow: auto;
}
body#bg-img {
  background: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}
body#bg-img:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.9);
}

h1,
h2 {
  margin: 0;
  font-weight: bold;
}
h1.lg-heading,
h2.lg-heading {
  font-size: 6rem;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
  font-weight: bold;
}
